<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Li</title>
  <link rel="stylesheet" href="style.css">
  <script src="main.js"></script>
</head>
<body>
  <h1>テストです</h1>
  <% if !current_user.nil? %>
  <li><%= current_user.name%>さんがログインしています</li>
  <li><a href="/signout">ログアウト</a></li>
  <% else %>
  <li>新規ユーザですか？</li>
  <li><a href="/signin">サインイン</a></li>
  <li><a href="/signup">サインアップ</a></li>
  <li><a href="/signout">ログアウト</a></li>
  <% end %>
  <li><a href="/questions/new">新しい質問</a></li>
  <li><a href="/my_profile/:id">プロフィール画面</a></li>

  <ul class="user">
    <% @users.each do | user |%>
    <li><%= user.name%></li>
    <% end %>
  </ul>

  <ul class="ques">
    <% @quesitons.each do | question |%>
    <ul class="indi">
    <li><%= question.user.name %>さんの質問</p></li>
      <p><%= question.title %></p>
      <p><%= question.content %></p>
      <form class="dele"  action="/questions/<%= question.id %>/delete" method="post">
      <input type="submit" value="削除">
      </form>
      <a href="/questions/<%= question.id %>/edit">編集</a>
    </ul>
    <% end %>
  </ul>

  <ul class="cour">
    <% @courses.each do |course|%>
    <li><%= course.name%></li>
    <% end %>
  </ul>

</body>
</html>
